{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="{{ url_for('sell') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="sell_symbol" placeholder="Stock Symbol" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="sell_shares" placeholder="Number of Shares" type="number"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>
    <p>Click <a href="http://eoddata.com/symbols.aspx">here</a> for a list of stock symbols.</p>
{% endblock %}